html,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

.container {
  padding: 3% 5% 5% 5%;
}

.main-title{
  font-size:25px;
  text-align: center;
  padding: 30px 20px;
}

.form {
  display: flex;
  justify-content:space-evenly;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: 5%;
}

.form-gender {
  display: flex;
  text-align: center;
  margin-top: -2px;
  margin-left: 12%;
  margin-right: 10%;
  margin-bottom: 20px;
}

.input-gender1 {
  margin-left: 80px;
  width: 40px;
  height: 40px;
  bottom: 15px;
  accent-color: rgb(103, 103, 103);
  position: relative;
}

.input-gender2 {
  margin-left: 80px;
  width: 40px;
  height: 40px;
  bottom: 15px;
  accent-color: rgb(103, 103, 103);
  position: relative;
}

.label {
  font-size: 20px;
}

.caution {
  color: red;
}

.input {
  padding: 8px 5px;
  font-size: 1.0em;
  width: 500px;
}

.box {
  margin: 15px;
}

.example {
  margin-top: 0.5em;
  color: #a5a5a5;
}

.input.opinion{
  font-size: 1.1em;
}

.btn-confirm {
  margin-top: 60px;
  margin-left: 45%;
  font-size: 1.1em;
  border-radius: 10px;
  color: #ffffff;
  background-color: rgb(0, 0, 0);
  padding: 10px 55px;
}

.btn-confirm:hover {
  color: #fff;
  background-color: rgb(101, 101, 101);
  transition: all 0.3s ease;
  cursor: pointer;
}

.confirm-title{
  font-size: 30px;
  text-align: center;
  padding: 15px 15px;
}
.confirm-table {
  width: 90%;
  margin-left: 8rem;
  font-size: 25px;
  border-collapse: separate;
  border-spacing: 42px;
}

.btn-send-back {
  text-align: center;
}

.btn-send {
  font-size: 1.1em;
  border-radius: 10px;
  color: #ffffff;
  background-color: rgb(0, 0, 0);
  padding: 10px 55px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.btn-send:hover {
  color: #fff;
  background-color: rgb(101, 101, 101);
  transition: all 0.3s ease;
  cursor: pointer;
}

.back {
  font-size: 1.1em;
}

.center-box{
  display: grid;
  place-items: center;
  margin-top: 23%;
  
}

.appreciation {
  margin-bottom: 30px;
  margin-left: 2%;
  font-size: 1.3rem;
  font-weight: bold;
}

.btn-top {
  margin-top: 30px;
  font-size: 1.1em;
  border-radius: 10px;
  color: #ffffff;
  background-color: rgb(0, 0, 0);
  padding: 10px 30px;
}



.title-control {
  font-size: 1.4rem;
  text-align: center;
  padding: 15px 15px;
}

.search-form {
  border: solid 1.5px #111;
  position: relative;
  padding: 5px;
  width: 80%;
  height: 280px;
  margin-left: 10%;
}

.row-name-gender {
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  margin-left: 5rem;

}
.label-name{
  font-size: 1.1rem;
}
.form-name {
  font-size: 1.1rem;
  padding: 3px 10px;
  margin-left: 4rem;
  width: 60%;
}

.label-both-gender {
  margin-top: 0.7rem;
  margin-right: 2rem;
}

.gender-container {
  display: flex;
  justify-content: space-around;
  margin-left: 8rem;
  margin-top: -0.5rem;
}

.label-both-gender{
  font-size: 1.1rem;

}
.radio-gender {
  width: 35px;
  height: 35px;
  accent-color: black;
  margin-bottom: 0.3rem;
}

.label-date {
  font-size: 1.1rem;
  position:absolute;
  top:32%;
  margin-left: 5rem;
}
.form-date-from {
  font-size: 1.0rem;
  margin-left: 3rem;
  padding: 3px 10px;
}
.form-date-until {
  font-size: 1.0rem;
  margin-left: 2rem;
  padding: 3px 10px;
}
.from-until {
  margin-left: 2rem;
}

.label-email {
  font-size: 1.1rem;
  position: absolute;
  top: 53%;
  margin-bottom: 5%;
  margin-left: 5rem;
}

.form-email {
  font-size: 1.1rem;
  margin-left: 3rem;
  padding: 3px 5px;
}

.btn-search {
  position: absolute;
  margin-top: 11rem;
  margin-left: 30rem;
  font-size: 1rem;
  border-radius: 10px;
  color: #ffffff;
  background-color: rgb(0, 0, 0);
  padding: 5px 35px;
}

.btn-reset {
  position:absolute;
  margin-top: 21%;
  margin-left: 31.5rem;
  font-size: 1rem;
}

.number {
  width: 30%;
}

.text-sm.text-gray-700.leading-5 {
  margin-left: 3rem;
  width: 30%;
}

.relative.z-0.inline-flex.shadow-sm.rounded-md{
  margin-left: 55rem;

}

svg.w-5.h-5 {
  width: 20px;
  height: 20px;
  margin-left: 1.0rem;
}

.pagination-row{
  width: 90%;
  display: flex;
  justify-content:space-evenly;
}

.search-table{
  width: 89%;
  height: 40%;
  margin-top: 2rem;
  margin-left: 7%;
}

.title-table {
  border-bottom: 1px solid black;
}

td {
  font-size: smaller;
}

.btn-delete {
  border-radius: 5px;
  color: #ffffff;
  background-color: rgb(0, 0, 0);
}